*{
    margin: 0%;
    padding: 0%;
    
}

header{
    font-size: 30px;
}

#header{
    color:rgba(80, 117, 238, 0.795);
}

body{
    background-image: url('num.png');
    height: 635px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#box{
    height: 150px;
    width: 350px;
    font-size: 23px;   
    text-justify: auto;
    text-align:center;
    border-radius:3px;
    border-style: solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


button{
   background-color: rgb(34, 68, 219);
   color:black;
   height: 40px;
   width: 300px;
   margin-top: 25px;
   border-style: solid black;
   border-radius: 3px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 20px;
}

button:hover{
   background-color: rgb(45, 179, 219); 
   cursor: pointer; 
   color:rgb(255, 255, 255);
}

